<h1>Sent Love Notes</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Created</th>
      <th>Sent</th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.message %></td>
        <td><%= note.created_at.in_time_zone("Eastern Time (US & Canada)").strftime('%m/%d/%Y') %></td>
        <td><%= note.sent_at.in_time_zone("Eastern Time (US & Canada)").strftime('%m/%d/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
